body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  font-weight: 300;
}

header{
	grid-area: header;
	height: 55px;
	border-bottom: 3px solid lightgrey;
	display: grid;
	grid-template-columns: 150px 1fr 250px;
	padding: 0 10px 0 10px;
    margin-bottom: 10px;
    position: fixed;
    top: -0.2em;
    width: 100%;
    z-index: 1;
    background: white;
}

.a{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.b form {
        width: 70%;
        margin: 0 auto;
}

.c{
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}
.nav_button {
    position: relative;
    top: 10px;
}
    
.mini_logo {
    position: relative;
    top: 6px;
}

#search{
    font-size: 103%;
    width: 100%;
    position: relative;
    top: 12px;
    padding: 4px;
}

.search_btn {
    float: right;
    position: relative;
    top: -17px;
    height: 28px;
    width: 40px;
    left: 10px;
}
    
.apps-button {
    position: relative;
    top: 17px;
    left: 15px;
}
    
.upload {
    position: relative;
    top: 13px;
    left: 12px;
}
    
.bell_icon {
    position: relative;
    top: 18px;
    left: 15px;
}
    
.profile_icon {
    width: 45px;
    position: relative;
    top: 5px;
    right: 10px;
}

.wrapper{
	display: grid;
    grid-template-columns: 2fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr;
  	grid-template-areas: "VideoSection UpNext" "VideoSection UpNext" "CommentSection UpNext";
    margin-top: 3.5em;
    grid-gap: 1em;
}

.wrapper > div{
	background:#eee;
	border: black solid;
	padding: 1em;
}

.wrapper > div:nth-child(odd){
	background:#ddd;
	border: black solid;
	padding: 1em;
} 

.UpNext { grid-area: UpNext; }

.VideoSection { grid-area: VideoSection; }

.CommentSection { grid-area: CommentSection; }

.description-1 p:first-of-type {
    margin-bottom: 1em;
}

.description-1 p:last-of-type {
    float: left;
}

.description-1 img {
    float: right;
}

.description-1 {
    border-bottom: 1px solid lightgray;
    margin-bottom: 1em;
    padding-bottom: 2em;
    margin-top: 1em;
}

.name {
    float: left;
}

.subscribed {
    float: right;
}

.description-2 p {
    margin-top: 2em;
    margin-right: 6em;
    float: left;
}

.more {
    margin-top: 14em;
    font-size: 0.85em;
}

.more a {
    text-decoration: none;
    color: gray;
}