body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  font-weight: 300;
}

header{
	grid-area: header;
	height: 55px;
	border-bottom: 3px solid lightgrey;
	display: grid;
	grid-template-columns: 150px 1fr 250px;
	padding: 0 10px 0 10px;
    margin-bottom: 10px;
    position: fixed;
    top: -0.2em;
    width: 100%;
    z-index: 1;
    background: white;
}

.a{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.b form {
        width: 70%;
        margin: 0 auto;
}

.c{
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}