* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(24, 24, 24);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: white;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);

  .nav-item-search-btn {
    background-color: #f8f8f8;
    padding: 0 20px;
    border: none;
    border-left: 1px solid #d3d3d3;
  }

  .nav-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-item-center {
    width: 35vw;
    display: flex;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    margin: 0 10px;
  }

  .nav-item-left {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    padding-left: 15px;
  }

  .nav-item-right {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding-right: 25px;
  }

  .nav-item-search {
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 15px;
    font-size: 1.05rem;
    box-shadow: inset 0px 0px 1px #d3d3d3;
  }
}